

.holder
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

.item1
{
	width:100px;
	height:100px;
	background-color:green;
}
.item2
{
	width:100px;
	height:100px;
	background-color:red;
}

.item3
{
	width:100px;
	height:100px;
	background-color:blue;
}
